<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rj.kill_boredom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".page1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page11">
            <intent-filter>
                <action android:name="rj.kill_boredom.page11" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".page12">
            <intent-filter>
                <action android:name="rj.kill_boredom.page12" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".page13">
            <intent-filter>
                <action android:name="rj.kill_boredom.page13" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".page14">
            <intent-filter>
                <action android:name="rj.kill_boredom.page14" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".page15">
            <intent-filter>
                <action android:name="rj.kill_boredom.page15" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".page111">
            <intent-filter>
                <action android:name="rj.kill_boredom.page111" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".page112">
            <intent-filter>
                <action android:name="rj.kill_boredom.page112" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".page121">
            <intent-filter>
                <action android:name="rj.kill_boredom.page121" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".page122">
            <intent-filter>
                <action android:name="rj.kill_boredom.page122" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".page1211">
            <intent-filter>
                <action android:name="rj.kill_boredom.page1211" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>